<!--天气接口 DQwancheng 2021-2-23-->
<!--旧接口
<style type="text/css">
  #weather-float-he {
    position: absolute;
    z-index: 9999;
    padding: 0px;
    top: 8px;
    left: 8px;
  }
</style>
<script type="text/javascript">
	WIDGET = {FID: '1tFpFZ5Mtj'}
</script>
<script type="text/javascript"> //只在桌面版网页启用特效 
var windowWidth = $(window).width();
if (windowWidth > 768) { 
	document.write('<script type="text/javascript" src="https://apip.weatherdt.com/float/static/js/r.js?v=1111"><\/script>'); } 
</script>
-->

<div id="he-plugin-simple"></div>
<script>
WIDGET = {
  CONFIG: {
    "modules": "01234",
    "background": 5,
    "tmpColor": "FFFFFF",
    "tmpSize": 16,
    "cityColor": "FFFFFF",
    "citySize": 16,
    "aqiSize": 16,
    "weatherIconSize": 24,
    "alertIconSize": 18,
    "padding": "10px 10px 10px 10px",
    "shadow": "0",
    "language": "auto",
    "borderRadius": 5,
    "fixed": "true",
    "vertical": "middle",
    "horizontal": "center",
    "key": "51aa3d7526004278be89051e941570fb"
  }
}
</script>

<script type="text/javascript"> //只在桌面版网页启用特效 
var windowWidth = $(window).width(); 
if (windowWidth > 768) { 
	document.write('<script src="https://widget.qweather.net/simple/static/js/he-simple-common.js?v=2.0"><\/script>'); 
}
</script>

